html
  head
    title!= title
    style.
      body{
        background-image:url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2018-07-19%2F5b5038c2eee88.jpg%3Fdown&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1643804384&t=3592f3fe84f9a29dfbc69099d6ca1dca);
      }
  body
    h1 亲爱的用户:#{user.username},祝贺评分成功!
    a(href='/recommendmovieforuser?userid=#{user.userid}&username=#{user.username}') 点击这里为您推荐电影
